<mat-toolbar color="primary">
    <button (click)="menubtnclicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin</span>
   <div class="flex-container">
       <ul>
            <!-- icons -->
           <li>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon settings-icon" aria-label="Example icon-button with settings icon">
                  <mat-icon>settings</mat-icon>
                </button>
           </li>
            <li>
                <button mat-icon-button class="example-icon " aria-label="Example icon-button with help_outline icon">
                  <mat-icon>help_outline
                  </mat-icon>
                </button>
            </li>
           <li>
                <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with person_outline icon">
                    <mat-icon>person_outline
                    </mat-icon>
                  </button>
                  <!--menu  -->
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>logout</mat-icon>Sign out</button>
                  </mat-menu>
           </li>
       </ul>
   </div>
  </mat-toolbar>