<!-- header -->

<app-header (onMenuBtnClick)="toggle()"></app-header>
<!-- sidenav -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebaropend">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <router-outlet></router-outlet>
    <mat-drawer-content> <router-outlet></router-outlet> </mat-drawer-content>
  </mat-drawer-container>
  

<!-- sidebAR -->




<!-- dashboard -->



<mat-divider></mat-divider>
<!-- footer -->

<app-fooer></app-fooer>