
    <div class="card">
<!-- cards1 -->
            <mat-card>
                <app-card 
                bg="red"
                icon="group"
                discription="student"
                count="2000"
                ></app-card>
            </mat-card>
 <!-- cards2 -->
            <mat-card>
                <app-card 
                bg="green"
                icon="home"
                discription="institution"
                count="45"
                ></app-card>
            </mat-card>
 <!-- cards3 -->
            <mat-card>
                <app-card bg="blue"
                icon="groups"
                discription="employee"
                count="120"
                ></app-card>
            </mat-card>
 <!-- cards4 -->
            <mat-card>
                <app-card bg="orange"
                icon="dashboard"
                discription="count"
                count="300"
                ></app-card>
            </mat-card>
              
    </div>


    <div class="area">
        <app-area-chart></app-area-chart>
    </div>


    <div class="tablepie">
        <app-table class="table"></app-table>
        <div>
            <app-pie-chart class="pie"></app-pie-chart>
        </div>
    </div>
    


